html, 

body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  background: #ccc;
}

footer {
  text-align: center;
  font-family: Merriweather;
  height: 5%
}

section {
  text-align: center;
  width: 100%;
  background-color: #665eff;
  padding: 5px;
}

h1 {
  font-size: 48px;
}

p {
  max-width: 65%;
  min-width: 500px;
}

h2 {
  text-align: center;
  font-size: 2.6rem;
}

div {
  padding-right: 30px;
  height: 100%;
  width: 100%;
}

img {
  background-color: #000;
  border: 2px solid black;
  display: block;
  margin: auto;
  width: 35%;
  height: 35%;
}


video {
  background-color: #000000;
  border: 2px solid blue;
}

.container {
  overflow: hidden;
  width: 100%;
  margin: 0 auto 0 auto;
}

.main {
  padding-left: 30px;
  min-width: 75%;
}

.nav {
  background-color: #bdc1a0;
  width:100%;
  text-align: center;
  padding: 0;
  margin: 0 0 3em 0;
  list-style: none;
  float:left;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
  border-top 1px solid #ccc;
 }

.nav ul {
  list-style: none;
  display: inline-block;
  background-color: #444;
  text-align:center;
  padding: 0;
  margin: 0;
}

.nav li {
  float: left;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #069;
  display: block;
  padding: 8px 15px;
  font-weight: bold;
  border-right; 1px solid #ccc;
}

.nav a:hover {
  color: #c00;
  background-color: #fff;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
  
  
